@charset "UTF-8";

*{transition:all 100ms ease-in-out 0ms!important;border-radius:4px!important;}

@font-face{font-family:"Ubuntu-Bold";src:url("../fonts/Ubuntu-Bold.ttf");}
@font-face{font-family:"Ubuntu-Medium";src:url("../fonts/Ubuntu-Medium.ttf");}
@font-face{font-family:"Ubuntu-Regular";src:url("../fonts/Ubuntu-Regular.ttf");}

.font-b{font-family:"Ubuntu-Bold";}
.font-m{font-family:"Ubuntu-Medium";}
.font-r{font-family:"Ubuntu-Regular";}

body{background-color:#060606!important;}

.btn:hover,.nav-link:hover{color:yellow!important;background-color:blue!important;border-color:yellow!important;}
.btn:focus,.nav-link:focus{color:blue!important;background-color:yellow!important;border-color:blue!important;}

.navbar-brand:hover{color:yellow!important;}

.btn{border-width:2px!important;}