@charset "UTF-8";

*{transition:all 100ms ease-in-out 0ms!important;border-radius:4px!important;}

@font-face{font-family:"Poppins-Black";src:url("../fonts/Poppins-Black.ttf");}
@font-face{font-family:"Poppins-Medium";src:url("../fonts/Poppins-Medium.ttf");}
@font-face{font-family:"Poppins-Regular";src:url("../fonts/Poppins-Regular.ttf");}

.font-l{font-family:"Poppins-Black"!important;}
.font-m{font-family:"Poppins-Medium"!important;}
.font-s{font-family:"Poppins-Regular"!important;}

body{background-color:#060606!important;}

.text{color:#ffffff!important;}

.c-bg{background-color:#0a0a0a!important;}
.c-border{border-color:#191919!important;}